.search-div{
    background-color: aquamarine;
    height: 150px;
}
.seach-box{
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 50%;
    margin: 5px;
    padding: 1px;
}
.inputbox{
    width: 80%;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    border: 3px solid rgb(143, 131, 108);
    margin: 0px;
    text-indent: 10px;
    border-radius: 4px 0px 0px 4px;
}
.inputbtn{
    width:19%;
    height: 35px;
    border: 3px solid rgb(143, 131, 108);
    margin-left:1px;
    border-radius: 0px 4px 4px 0px;
    padding: 2px;
}

.goodtype{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(245, 245, 245);
}
/* 商品大分类连接 */
.typelink{
    height: 30px;
    line-height: 30px;
    margin:0px 25px 0px 25px;
    font-size: 17px;
    font-weight: 600;
}
.typelink:hover{
    border-bottom: 4px solid rgb(106, 146, 207);
}
.well2{
    padding: 10px 20px 10px 20px;
    background-color: rgb(181, 192, 192);
}
.goods-area{
    padding: 5px;
}
.goodrow{
    padding:5px;
    margin:2px;
    text-align: center;
}
.goods-box{
    height: 262px; 
    border:1px solid rgb(59, 46, 46);
    background-color: rgb(114, 133, 126);
    padding: 4px;
}
.goods-box img{
    height: 70%;
    width: 100%;
}