
<nav class="navbar navbar-default nomarbot">
    <a class="navbar-brand marright" href="#">
        <span class="glyphicon glyphicon-globe " aria-hidden="true"></span>
         BlackCarDriver.cn
    </a>
    <div class="container-fluid"> 
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand nav-chose" href="#">交易区</a></li>
            <li><a class="navbar-brand" href="#">拍卖区</a></li>
            <li><a class="navbar-brand" href="#">讨论区</a></li>
        </ul> 
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">意见反馈</a></li>
            <li><a href="#">关于本站</a></li> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span> 登录<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">登录</a></li>
              <li><a href="#">注册</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

  <!-- <img src="//uploadfiles.nowcoder.com/images/20190301/1772684_1551406657661_8F81AC03BAC1EBEF2F5A924F49F21CA4" alt="..."> -->
<div class="container-fluid search-div  marbotn">
    <div class="row">
        <div class="hidden-xs col-sm-2 col-md-3 h150px green"></div>
        <div class="col-md-6 col-sm-8 h150px yellow">
          <div class="seach-box">
            <input type="text" class="inputbox" placeholder="搜索商品...">
            <button class="inputbtn" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>  
          </div><!--search-box over-->
      </div>
      <div class="hidden-xs col-sm-2 col-md-3 h150px green"></div>
    </div>  <!--row  search is over-->
    <div class="row">
        <div class="goodtype">
            <a class="typelink" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
              学习用品
            </a>
            <a class="typelink" data-toggle="collapse" href="#collapseExample2" >
              体育用品
            </a>
            <a class="typelink" data-toggle="collapse" href="#collapseExample2" >
              生活用品
            </a>
            <a class="typelink" data-toggle="collapse" href="#collapseExample2" >
              电子产品
            </a>
            <a class="typelink" data-toggle="collapse" href="#collapseExample2" >
              手工diy
            </a>
            <a class="typelink" data-toggle="collapse" href="#collapseExample2" >
              虚拟商品
            </a>
            <a class="typelink" data-toggle="collapse" href="#collapseExample2" >
              其他
            </a>
            <div class="collapse" id="collapseExample">
              <div class="well well2">
                 <a  class="margin1">台灯(100)</a>
                 <a class="margin1">书柜(100)</a>
                 <a class="margin1">打印机(100)</a>
                 <a class="margin1">电竞椅(100)</a>
                 <a  class="margin1">台灯(100)</a>
                 <a class="margin1">书柜(100)</a>
              </div>
            </div>
          <div class="collapse" id="collapseExample2">
            <div class="well well2">
               <a  class="margin1">排球(100)</a>
               <a  class="margin1">足球(100)</a>
               <a  class="margin1">篮球(100)</a>
            </div>
          </div>
        </div><!--row goodtype is over-->
    </div> <!--row type is over-->
    <div class="container goods-area yellow martop">
        <div class="row goodrow">
          <div class="goods-box  col-xs-12 col-sm-6 col-md-3">
             <img class="img-thumbnail" src="https://i02picsos.sogoucdn.com/3a72f43eb48179fa">
          </div>
          <div class="goods-box  col-xs-12 col-sm-6 col-md-3">
              <img class="img-thumbnail" src="https://i02picsos.sogoucdn.com/3a72f43eb48179fa">
           </div>
           <div class="goods-box  col-xs-12 col-sm-6 col-md-3">
              <img class="img-thumbnail" src="https://i02picsos.sogoucdn.com/3a72f43eb48179fa">
           </div>
           <div class="goods-box  col-xs-12 col-sm-6 col-md-3">
              <img class="img-thumbnail" src="https://i02picsos.sogoucdn.com/3a72f43eb48179fa">
           </div>
           <div class="goods-box  col-xs-12 col-sm-6 col-md-3">
              <img class="img-thumbnail" src="https://i02picsos.sogoucdn.com/3a72f43eb48179fa">
           </div>
        </div>
    </div><!--container goods-show is over -->

</div><!--container-fulid is over-->


