<app-navig></app-navig>
<div class="container-fluid search-div  marbotn">
    <div class="row">
        <div class="hidden-xs col-sm-2 col-md-3 h150px green"></div>
        <div class="col-md-6 col-sm-8 h150px yellow nopad">
          <img src="https://gaopin-preview.bj.bcebos.com/133201924289.jpg@!420">
          <div class="seach-box">
            <input type="text" class="inputbox" placeholder="搜索商品...">
            <button class="inputbtn" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>  
          </div><!--search-box over-->
      </div>
      <div class="hidden-xs col-sm-2 col-md-3 h150px green"></div>
    </div>  <!--row  search is over-->

    <div class="row">
        <div class="goodtype">
            <a class="typelink" data-toggle="collapse" (click)="collapse('#collapseExample')">
              学习用品
            </a>
            <a class="typelink" data-toggle="collapse"  (click)="collapse('#collapseExample2')" >
              体育用品
            </a>
            <a class="typelink" data-toggle="collapse" (click)="collapse('#collapseExample2')" >
              生活用品
            </a>
            <a class="typelink" data-toggle="collapse"(click)="collapse('#collapseExample2')" >
              电子产品
            </a>
            <a class="typelink" data-toggle="collapse" (click)="collapse('#collapseExample2')" >
              手工diy
            </a>
            <a class="typelink" data-toggle="collapse"(click)="collapse('#collapseExample2')">
              虚拟商品
            </a>
            <a class="typelink" data-toggle="collapse" (click)="collapse('#collapseExample2')" >
              其他
            </a>
            <div class="collapse" id="collapseExample">
              <div class="well well2">
                 <a  class="margin1">台灯(100)</a>
                 <a class="margin1">书柜(100)</a>
                 <a class="margin1">打印机(100)</a>
                 <a class="margin1">电竞椅(100)</a>
                 <a  class="margin1">台灯(100)</a>
                 <a class="margin1">书柜(100)</a>
              </div>
            </div>
          <div class="collapse" id="collapseExample2">
            <div class="well well2">
               <a  class="margin1">排球(100)</a>
               <a  class="margin1">足球(100)</a>
               <a  class="margin1">篮球(100)</a>
            </div>
          </div>
      </div><!--row goodtype is over-->

    </div> <!--row type is over-->

    <div class="container goods-area green martop">
        <div class="row goodrow">
          <div class="goods-box  col-xs-12 col-sm-6 col-md-3">
            <div class="goods-box2">
              <img class="img-thumbnail" src="//img.alicdn.com/imgextra/i4/47537911/TB2k1lrhmXlpuFjy0FeXXcJbFXa_!!47537911-0-beehive-scenes.jpg_180x180xzq90.jpg_.webp">
              <p class="good-title">发大沙发斯蒂芬大丰收爱迪生发大厦</p>
              <a class="good-user"><span class="glyphicon glyphicon-user"></span> BlackCarDriver</a>
              <p class="good-date"><span class="glyphicon glyphicon-calendar"></span>2019-3-3</p>
              <p class="good-price"><span class="glyphicon glyphicon-yen"></span>65</p>
            </div><!--goods-box2 end-->
          </div><!--good-box end-->
          <div class="goods-box  col-xs-12 col-sm-6 col-md-3">
            <div class="goods-box2">
              <img class="img-thumbnail" src="//img.alicdn.com/imgextra/i4/47537911/TB2k1lrhmXlpuFjy0FeXXcJbFXa_!!47537911-0-beehive-scenes.jpg_180x180xzq90.jpg_.webp">
              <p class="good-title">发大沙发斯蒂芬大丰收爱迪生发大厦</p>
              <a class="good-user"><span class="glyphicon glyphicon-user"></span> BlackCarDriver</a>
              <p class="good-date"><span class="glyphicon glyphicon-calendar"></span>2019-3-3</p>
              <p class="good-price"><span class="glyphicon glyphicon-yen"></span>65</p>
            </div><!--goods-box2 end-->
          </div><!--good-box end--> 
          <div class="goods-box  col-xs-12 col-sm-6 col-md-3">
            <div class="goods-box2">
              <img class="img-thumbnail" src="//img.alicdn.com/imgextra/i4/47537911/TB2k1lrhmXlpuFjy0FeXXcJbFXa_!!47537911-0-beehive-scenes.jpg_180x180xzq90.jpg_.webp">
              <p class="good-title">发大沙发斯蒂芬大丰收爱迪生发大厦</p>
              <a class="good-user"><span class="glyphicon glyphicon-user"></span> BlackCarDriver</a>
              <p class="good-date"><span class="glyphicon glyphicon-calendar"></span>2019-3-3</p>
              <p class="good-price"><span class="glyphicon glyphicon-yen"></span>65</p>
            </div><!--goods-box2 end-->
          </div><!--good-box end-->
          <div class="goods-box  col-xs-12 col-sm-6 col-md-3">
            <div class="goods-box2">
              <img class="img-thumbnail" src="//img.alicdn.com/imgextra/i4/47537911/TB2k1lrhmXlpuFjy0FeXXcJbFXa_!!47537911-0-beehive-scenes.jpg_180x180xzq90.jpg_.webp">
              <p class="good-title">发大沙发斯蒂芬大丰收爱迪生发大厦</p>
              <a class="good-user"><span class="glyphicon glyphicon-user"></span> BlackCarDriver</a>
              <p class="good-date"><span class="glyphicon glyphicon-calendar"></span>2019-3-3</p>
              <p class="good-price"><span class="glyphicon glyphicon-yen"></span>65</p>
            </div><!--goods-box2 end-->
          </div><!--good-box end-->
          <br><br>  
    </div><!--container goods-show is over -->

       <div class="m-page hidden-xs">
              <div class="wraper">
                <div class="inner">
                  <ul class="items">
                      <li class="item prev">
                          <span>上一页</span>
                      </li>
                      <li class="item active">
                          <span class="num">1</span>
                      </li>
                      <li class="item">
                            <a class="num">2</a>
                      </li>
                      <li class="item">
                            <a class="num">3</a>
                      </li>
                      <li class="item next">
                        <a class="num"><span>下一页</span></a>
                      </li>
                  </ul>
                  <div class="form  hidden-sm">
                    <div class="total">共 3 页 </div>
                    <span class="text">到第</span>
                    <input class="input" type="number">
                    <span class="text">页</span>
                    <span class="btn" >确定</span>
                  </div>
                </div>
              </div>
      </div><!--pagebox over-->

    </div><!--container-fulid is over-->

    <app-footer></app-footer>