<div class="container-fluid">
  <div class="row main-body">
      <div class="col-md-9 green">
          <div class="msg1 yellow"></div>
          <div class="msg2 blue"></div>
          <div class="tabbable" id="tabs-727927"><!-- Only required for left/right tabs -->
          <div class="row swicth-box">
              <ul class="nav nav-tabs">
                  <li class="active"><a contenteditable="true" data-toggle="tab" href="#panel-439366">第一部分</a></li>
                  <li><a contenteditable="true" data-toggle="tab" href="#panel-719086">第二部分</a></li>
                  <li><a contenteditable="true" data-toggle="tab" href="#panel-719086">第二部分</a></li>
                  <li><a contenteditable="true" data-toggle="tab" href="#panel-719086">第二部分</a></li>
                  <li><a contenteditable="true" data-toggle="tab" href="#panel-719086">第二部分</a></li>
                  <li><a contenteditable="true" data-toggle="tab" href="#panel-719086">第二部分</a></li>
              </ul>
              <div class="tab-content">

                <div class="tab-pane active" contenteditable="true" id="panel-439366">
                  <p>第一部分内容.</p>
                </div>
                
                <div class="tab-pane" contenteditable="true" id="panel-719086">
                <p>第二部分内容.</p>
                </div>

                <div class="tab-pane" contenteditable="true" id="panel-719086">
                    <p>第二部分内容.</p>
                </div>

                <div class="tab-pane" contenteditable="true" id="panel-719086">
                    <p>第二部分内容.</p>
                </div>

                <div class="tab-pane" contenteditable="true" id="panel-719086">
                    <p>第二部分内容.</p>
                </div>
                
              </div><!--tab content-->
          </div><!--row switch box-->
      </div>
            
    </div>
      <div class="col-md-3 blue right_box">
          asdfasdfasdfasd
      </div>
  </div><!--row main bod-->
</div><!--cotainer-->