<div class="full">
<div class="container-fluid">
    <div class="row main-body">
      <div class="col-md-9 left-box">
          
            <div class="row msg1">
                <div class="col-md-2 head-img-box">
                        <img src="https://gocn.vip/uploads/avatar/000/00/72/71_avatar_max.jpg" alt="head-img" class="head-img">     
                </div>
                <!--person mesage simple descripb-->
                <div class="col-md-8 heigth">
                    <h3 class="name">BlackCarDriver</h3>
                </div>
                <div class="col-md-2">
                        <a class="btn btn-primary btn-sm button1">编辑</a>
                </div>
            </div><!--msg1-->
         
          <div class="row msg2">
                <span class="ico1"><i class="glyphicon glyphicon-king"></i> 等级 : 0</span>
                <span class="ico1"><i class="glyphicon glyphicon-fire"></i> 热度 : 0</span>
                <span class="ico1"><i class="glyphicon glyphicon-bookmark"></i> 关注: 0</span>
                <span class="ico1"><i class="glyphicon glyphicon-heart"></i> 被关注: 0</span>
                <span class="ico1"><i class="glyphicon glyphicon-thumbs-up"></i> 被点赞: 0</span>
          </div><!--msg2-->

          <div class="tabbable" id="tabs-727927"><!-- Only required for left/right tabs -->
          <div class="row swicth-box">

              <ul class="nav nav-tabs">
                  <li class="active"><a  data-toggle="tab" href="#panel-xxxs">详细信息</a></li>
                  <li><a  data-toggle="tab" href="#panel-719086">我的商品</a></li>
                  <li><a  data-toggle="tab" href="#panel-719086">我的收藏</a></li>
                  <li><a  data-toggle="tab" href="#panel-719086">我的消息</a></li>
                  <li><a  data-toggle="tab" href="#panel-719086">历史记录</a></li>
              </ul>
              <div class="tab-content">

                    <!-- 详细信息 -->
                <div class="tab-pane active" id="panel-xxxs">
                    
                    <div class="panel panel-info my-panel">
                      <div class="panel-heading"><span class="glyphicon glyphicon-th-list"> </span> 基本信息</div>
                        <div class="panel-body">
                              <ul class="msg-box">
                                  <li class="msg">账号名称</li>
                              
                              </ul>
                        </div>
                    </div>

                    <div class="panel panel-info my-panel">
                            <div class="panel-heading"><span class="glyphicon glyphicon-phone"> </span> 联系方式</div>
                              <div class="panel-body">
                                  Panel content
                              </div>
                    </div>

                    <div class="panel panel-info my-panel">
                        <div class="panel-heading"><span class="glyphicon glyphicon-stats"> </span> 其他数据</div>
                            <div class="panel-body">
                            Panel content
                            </div>
                    </div>
                    
                </div>
                



                <div class="tab-pane" id="panel-719086">
                <p>我的商品</p>
                </div>

                <div class="tab-pane" id="panel-719086">
                    <p>我的收藏</p>
                </div>

                <div class="tab-pane" id="panel-719086">
                    <p>我的消息</p>
                </div>

                <div class="tab-pane" id="panel-719086">
                    <p>历史记录</p>
                </div>
                
              </div><!--tab content-->
          </div><!--row switch box-->
      </div>
            
      </div><!--col md 9-->
<!-- ============================================= -->
      <div class="col-md-3 right_box hidden-xs hidden-sm">
          <div class="right-box-son">
            <div class="row">              
                <div class="col-md-6 float-left-blue">关注我的: <span class="mun-ico">4</span></div>
                <div class="col-md-6 float-right-blue">更多<span class="glyphicon glyphicon-chevron-right"></span></div>
            </div>
              <div class="row">
                  <ul class="headimg-list">
                      <li class="headimg">
                          <a href="#"><img src="https://avatar.csdn.net/0/7/0/3_wy_blog.jpg"></a>
                      </li>
                      <li class="headimg">
                            <a href="#"><img src="https://avatar.csdn.net/0/7/0/3_wy_blog.jpg"></a>
                      </li>
                      <li class="headimg">
                            <a href="#"><img src="https://avatar.csdn.net/0/7/0/3_wy_blog.jpg"></a>
                      </li>
                      <li class="headimg">
                            <a href="#"><img src="https://avatar.csdn.net/0/7/0/3_wy_blog.jpg"></a>
                      </li>                      
                  </ul>
              </div>
          </div><!--box son 1 -->
          <div class="right-box-son">
                <div class="row">              
                    <div class="col-md-6 float-left-blue">我关注的: <span class="mun-ico">2</span></div>
                    <div class="col-md-6 float-right-blue">更多<span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
                  <div class="row">
                      <ul class="headimg-list">
                          <li class="headimg">
                              <a href="#"><img src="https://avatar.csdn.net/2/5/8/3_u012860063.jpg"></a>
                          </li>
                          <li class="headimg">
                                <a href="#"><img src="https://avatar.csdn.net/2/5/8/3_u012860063.jpg"></a>
                          </li>
                      </ul>
                  </div>
          </div><!--right box son 2-->
          <div class="right-box-son see-num">
              <p><span class="glyphicon glyphicon-eye-open"></span> 主页访问量:1223</p>
          </div>
      </div>
<!-- ============================================= -->
  </div><!--row main bod-->
</div><!--cotainer-->
</div><!--full-->