/* You can add global styles to this file, and also import other style files */
html{
    min-width:350px;
    color: #222;
    font: 14px/1.5 tahoma,arial,"Microsoft YaHei";
    background: #fff;
    margin: 0px;
    padding: 0px;
}
a{
    display:inline-block;
}
a:hover{
    cursor: pointer;
    text-decoration : none ;
}
.norad{
    border-radius: 0px;
}
.nopadtop{
    padding-top: 0px;
    margin-top: 0px;
}
.nomarbot{
    margin: 0px;
}
.closebot{
   bottom: 5px;
   margin-bottom: 5px;
}
.nav-chose{
    border-bottom: 7px solid #17a2e7;
}
.marright{
    margin-right: 30px;
}
.marbotn{
    margin-bottom: 10px;
}
.martop{
    margin-top: 10px;
}
.green{
    background-color: rgb(196, 207, 196);
}
.yellow{
    background-color: rgb(110, 110, 89);
}
.h150px{
    height: 150px;
}
.blue{
    background-color: rgb(156, 160, 160);
}
.alicen{
    text-align: center;
}
.margin1{
    margin:5px 15px;
    line-height: 15px;
}
.heifull{
    height: 100%;
}
.pad0px{
    padding-right: 0px;
    padding-left: 0px;
}